.friendList {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;

  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 5px 5px 5px gray;
  background-color: white;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* .avatar {
} */

.name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
